src/serializacion/BroadcastMessageServidorCalidadAire.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:element name="BroadcastMessage" type="BroadcastMessageType"/>

   <xs:complexType name="BroadcastMessageType">
      <xs:sequence>
         <xs:element name="ID" type="xs:string"/>
         <xs:element name="ConcentracionCO2" type="Param"/>
         <xs:element name="ConcentracionO3" type="Param"/>
         <xs:element name="ConcentracionParticulasSuspension" type="Param"/>
      </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="Param">
   	<xs:sequence>
   	 	<xs:element name="Valor" type="xs:string"/>
      	<xs:element name="Medida" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
